- let options = { h1: "Heading 1", h2: "Heading 2", p: "Paragraph" };

.dropdown
  button#value.dropdown__value(type="button", onclick="toggleMenu()") Heading 1
  ul#menu.dropdown__menu.dropdown__menu_hide
    each val, key in options
      li.menu__item
        button.btn-style(style=key, onclick="chooseStyle(this)", value=val)
          #{key}= val

script
  include dropdown.ts
