//include mixins/_dropdown

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title DINOWIG - editor

  body
    h1.title DINOWIG - editor
    .editor
