include mixins/_dropdown
- let buttonIconNames = ["bold-01", "italic-01", "underline-01", "strikethrough-01", "align-center", "align-justify", "align-left", "align-right", "corner-up-left", "corner-up-right", "x-close"];
- let optionsHeading = { h1: "Heading 1", h2: "Heading 2", p: "Paragraph", blockquote: "Blockquote" };
- let optionsFonts = { helvetica: "Helvetica", arial: "Arial", verdana: "Verdana", timesNewRoman: "Times New Roman", tahoma: "Tahoma", terminal: "Terminal", impact: "Impact" };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title Wysiwig - editor

  body
    h1.title Wysiwig - editor
    .editor
      .panel
        .toolbar
          +dropdown(optionsHeading, optionsHeading.h1, 'headingDD', 'tag')
          +dropdown(optionsFonts, optionsFonts.arial, 'fontsDD', 'font')
          each name in buttonIconNames
            button.button
              svg.icon
                use(href="assets/icons/sprite.svg#" + name)

      .playground-wrap
        #editor.playground(contenteditable="true")

      .footer
        span words: 0

    script
      include dropdown.ts
