@import url("./normalize.css");

body {
  background: var(--body);
  font-family: var(--font-family);
  padding-top: 40px;
  color: var(--text-color);
}

.title {
  text-align: center;
  color: #389ca6;
  margin-bottom: 30px;
}

.editor {
  background: var(--background);
  min-width: 500px;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 10px;
  overflow: hidden;
}

.panel {
  padding: 10px 15px;
  background: var(--tools-section);
  border-bottom: 1px solid #eee;
}

.playgroundWrap {
  width: 100%;
  height: 500px;
}

.playground {
  height: 100%;
  padding: 10px 15px;
  outline: none;
}
.button {
  border: none;
  border-radius: 3px;
  background: none;
}

.button:hover,
.button.active {
  background: var(--button-hover);
  color: var(--button-hover-text);
}

button {
  cursor: pointer;
}

.icon {
  height: 25px;
  width: 15px;

  vertical-align: middle;
}
.selection {
  border: none;
  padding: 3px 5px;
  font-size: 13px;
}
.footer {
  padding: 10px 15px;
  text-align: right;
  border-top: 1px solid #eee;
  background: var(--tools-section);
}
:root {
  --body: #c6e7dd;
  --text-color: #171717;
  --background: #fafafa;
  --button-hover: #6cbfde;
  --button-hover-text: #fff;
  --tools-section: #efefef;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
